.change_color {
    border-top:3px solid #000;
    color: rgb(63, 127, 224);
}
.scrolled {
    transform: translateY(-100px);
}
.toright {
    animation: toright 3s ease;
}
@keyframes toright {
    0% {transform: translateX(-500px);}
    100% {transform: translateX(0);}
}
@keyframes up {
    0% {transform: translateY(500px);}
    100% {transform: translateY(0);}
}
@keyframes swing {
    0% {transform: translateX(0) rotate(0);}
    10% {transform: translateY(15PX) rotate(0);}
    30% {transform: translateX(800px) rotate(180deg);}
    60% {transform: translateX(-500px) rotate(60deg);}
    80% {transform: translateY(-50px) rotate(60deg);}
    100% {transform: translateX(0) rotate(0);}
}
@keyframes hold {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(20deg);}
    20% {transform: rotate(30deg);}
    80% {transform: rotate(40deg);}
    90% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}
/* 
font-family: 'Castoro Titling', cursive;
font-family: 'Noto Serif KR', serif;
font-family: 'Poltawski Nowy', serif;
 */

/* 일단 안보이게 하는 부분 */
body {
    padding-top: 100px;
}
header {
    background: #000;
    display: flex;
    justify-content: space-between;
    height: 100px;
    position: fixed; top: 0; left: 0; width: 100%;
    transition: all 0.2s ease;
    align-items: center; 
}
header h1 {padding-left: 20px;}
header h1 a {width: 150px; display: inline-block;}
header h1 a img {width: 100%;}
header .nav {
    display: flex;
    font-family: 'Castoro Titling', cursive;
    align-items: center; 
}
header .nav a {padding: 0 20px; color: #fff;}
header .nav .search {width: 80px;}
header .nav .search img {width: 100%;}
header .nav a span {
    content:''; display: block; background:#fff; font-weight: 600; 
    width: 50px; height: 5px; margin: 5px 0;
}
header .nav a span:nth-child(1) {width: 30px;}
header .nav a span:nth-child(2) {}
header .nav a span:nth-child(3) {}
header .nav a span:nth-child(4) {width: 30px;}
/* 헤더 끝 */
main {}
main .container {height: 100vh;}
/* 메인 공통 */
main .con1 {}
main .con1 h2 {
    text-align: center; font-family: 'Castoro Titling', cursive;
    font-size: 5rem;
    line-height: 100vh;
}
/* 메인1영역 끝 */
main .con2 { margin-bottom: 300px;}
main .con2 .tab {display: flex; justify-content: center; }
main .con2 .tab p {
    font-family: 'Castoro Titling', cursive;
    font-size: 1.8rem;
    padding: 50px 15px;
}
main .con2 .tab_contents {width:1200px; height: 798px; margin: 0 auto;}
main .con2 .tab_contents .contents1 {background-image: url(./images/bg1.jpg);}
main .con2 .tab_contents .contents2 {background-image: url(./images/bg2.jpg);}
main .con2 .tab_contents .contents3 {background-image: url(./images/bg3.jpg);}
main .con2 .tab_contents .contents4 {background-image: url(./images/bg5.jpg);}
main .con2 .tab_contents div {background-position: center; background-size: cover; height: 100%;}
.what {
    text-align: center; font-family: 'Castoro Titling', cursive;
    font-size: 5rem; color: #fff; padding-top: 350px;
    animation: up 1s ease ;
}
/* 메인2영역 끝 */
main .con3 {height: 100vh; width: 100%; position: relative;}
main .con3 .fixed_bg {
    background: url(./images/bg4.jpg); background-position: center;
    background-size: cover; height: 100vh;
    background-attachment: fixed;
}
main .con3 .front_img {
    position: absolute; top: 0; left: 0;
    width: 700px; animation: swing 10s ease infinite; z-index: 15;
}
main .con3 .front_img img {width: 100%;}
main .con3 .front_img2 {
    position: absolute; top: 20%; right: 10%;
    width: 800px; animation: hold 10s ease-in-out infinite; display: inline-block;
}
main .con3 .front_img2 img {width: 100%;}
/* 메인3영역 끝 */
main .con4 {width: 100%; margin: 0 auto;}
main .con4 h2 {font-family: 'Castoro Titling', cursive; 
    text-align: center; font-size: 5rem;
    margin:300px 0 150px; 
}
main .con4 .container_aco {width: 1000PX; margin: 0 auto;}
main .con4 .container_aco #btn_gone {
    font-family: 'Castoro Titling', cursive; 
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
main .con4 .container_aco section {width: 500px; margin: 0 auto;}

.aco_container {
    margin: 0 auto;
    }
    
.aco_name {
    margin-bottom: 20px;
    background-color: #fff;
    font-family: 'Castoro Titling', cursive;
    }
    
.aco_name {
    padding: 20px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
    }
    
.aco_contents {
    padding: 15px;
    font-family: 'Castoro Titling', cursive;
    }
.aco_contents {
    display: none;
    font-family: 'Castoro Titling', cursive;
    }
.active .aco_contents {
    display: block;
    font-family: 'Castoro Titling', cursive;
    }
/* 메인4영역 끝 */
footer {background: #000; height: 300px; padding-top: 50px;}
footer h1 {padding-left: 10px;}
footer h1 a {width: 100px; display: block;}
footer h1 a img {width: 100%;}
footer p {color: #fff;}
.top {
    display: flex;
    justify-content: space-between; align-items: center;
}
.left {display: flex; align-items: center;}
.left p {padding: 20px; font-family: 'Castoro Titling', cursive;}
.bottom {text-align: center;}
.bottom p {font-family: 'Castoro Titling', cursive; font-size: 0.8rem; padding-top: 10px; line-height: 2;}
.bottom p:first-child {font-family: 'Noto Serif KR', serif; }
